.project-card {
  height: 256px;

  position: relative;

  border-radius: 4px;
  overflow: hidden;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32), 0 3px 4px rgba(0, 0, 0, 0.34);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-card:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25), 0 8px 10px rgba(0, 0, 0, 0.22);
}
.project-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;

  display: block;
  object-fit: cover;
}
