@media (min-width: 200px) and (max-width: 480px) {
  body p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 90vw;
  }
}

#aboutcontainer {
  display: flex;
  flex-direction: column;
}
#about {
  color: white;
  text-align: center;
}
#face {
  height: 80vh;

  display: block;

  margin-left: auto;
  margin-right: auto;
}
p {
  margin-bottom: 5rem;
  color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;

  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  border-style: groove;
  border-radius: 0.5rem;
}
