@media (min-width: 320px) and (max-width: 480px) {
  body p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: large;
  }
}

#main {
  display: flex;
  flex-direction: column;
}
#about {
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-bottom: -1rem;
}
#face {
  height: 300px;
  width: 180px;
  padding-left: 42vw;
  margin-top: -40px;
  margin-bottom: -40px;
}
p {
  color: white;
  text-align: left;
  margin-left: 18rem;
  margin-right: 18rem;
  outline: solid;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  border-style: double;
}
