@media (min-width: 200px) and (max-width: 480px) {
  body p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: large;
  }
  #face{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


#main {
  display: flex;
  flex-direction: column;
}
#about {
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-bottom: -1rem;
}
#face {
  height:80vh;

  display: block;

  margin-left: auto;
  margin-right: auto;

}
p {
  color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  outline: solid;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  border-style: double;
}
