:root {
  -paused: paused;
  --loading: running;
  --animationname: fadeInOpacity;
}

@media (min-width: 200px) and (max-width: 480px) {
  body #projects {
    font-size: large;
    color: white;
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 60px;
    z-index: 100;
    display: block;
    animation-name: glitch;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-play-state: var(--loading);
  }
  body .resume {
    font-size: large;
    color: white;
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 60px;
    z-index: 100;
    display: block;
    animation-name: glitch;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-play-state: var(--loading);
  }
  body #threescene {
    transform: scale(0.7);
    animation-name: fadeInOpacityMobile;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  #pdf {
    display: block;
    width: 90vw;
    height: 100vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
  }
}
/* 
  ##Device = Desktops
  ##Screen = 1000px to higher resolution desktops
*/

@media (min-width: 600px) {
  body #projects {
    font-size: x-large;
    display: flex;
    color: white;
    position: absolute;
    top: 40vh;
    left: 20vh;
    width: 60px;
    z-index: 100;
    display: block;
    animation-name: glitch, floating;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-in,ease;
    animation-duration: 2s,2s;
    animation-direction: alternate;
  }

  body .resume {
    font-size: x-large;
    color: white;
    position: absolute;
    opacity: 1;
    top: 40vh;
    left: 80vw;
    width: 60px;
    z-index: 100;
    display: block;
    opacity: 1;
    animation-name: glitch, floating;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-in,ease;
    animation-duration: 2s,2s;
    animation-direction: alternate;
  }
  #pdf {
    display: block;
    width: 70vw;
    height: 100vh;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
  }
}

.resume:hover,
#projects:hover {
  opacity: 1;
  animation: glitch 0.85s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#threescene {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
#title {
  opacity: 1;
  animation-name: glitch;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
#rootmain {
  vertical-align: middle;
}

@keyframes floating 
{
  0% {  
    transform: translateY(.2em);


  }


}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: scale(0.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInOpacityMobile {
  0% {
    opacity: 0;
    transform: scale(0.01);
  }
  100% {
    opacity: 1;
    transform: scale(0.7);
  }
}
@keyframes loaded {
  100% {
    opacity: 1;
  }
}

@keyframes glitch {
  5% {
    text-shadow: 3px 3px green, -2px -2px cyan;
    text-decoration: underline;
  }
  10% {
    text-shadow: -3px -3px green, 2px 2px cyan;
    text-decoration: none;
  }
  15% {
    text-shadow: -4px -3px red, 4px 2px blue;
  }
  20% {
    text-shadow: 3px 3px green, -2px -2px cyan;
  }
  25% {
    text-shadow: -3px -3px green, 2px 2px green;
    color: black;
  }
  30% {
    text-shadow: 3px 3px green, -2px -2px cyan;
  }
  35% {
    text-shadow: -1px -1px white, 1px 1px white;
    color: black;
  }
  40% {
    text-shadow: -6px -3px green, 6px 2px cyan;
    color: white;
  }
  45% {
    text-shadow: -5px -3px green, 5px 2px cyan;

    text-decoration: underline;
  }
  50% {
    text-shadow: -3px -3px green, 3px 2px cyan;

    text-decoration: none;
  }
  55% {
    text-shadow: -5px -3px green, 5px 2px yellow;
  }
  60% {
    text-shadow: -0px -3px purple, 0px 2px cyan;
  }
  65% {
    text-shadow: 0px 0px green, 0px 0px cyan;
  }
  70% {
    text-shadow: 2px 0px green, 2x 0px cyan;
    text-decoration: line-through;
  }
  75% {
    text-shadow: 0px 8px green, 0px 8px cyan;
    text-decoration: none;
  }
  80% {
    text-shadow: 0px 0px green, 0px 0px cyan;
  }
  85% {
    text-shadow: -4px 0px purple, -9px 0px yellow;
    text-decoration: overline;
  }
  90% {
    text-shadow: 0px -5px green, 0px -4px cyan;
    text-decoration: none;
  }
  95% {
    text-shadow: 0px 0px green, 0px 0px cyan;
  }
  100% {
    text-shadow: 0px 0px green, 0px 0px cyan;
  }
}

